<launch>
  <!--
    xiaoqiang start up launch file
    check motor status
    check camera status
    launch motor driver
    launch status monitor
    launch camera auto brightness
    launch ORB_SLAM
  -->
  <include file="$(find xiaoqiang_udrf)/launch/xiaoqiang_udrf.launch" />
  <include file="$(find xqserial_server)/launch/xqserial.launch" />
  <node pkg="system_monitor" type="monitor.py" name="system_monitor">
    <remap from="/usb_cam" to="/camera_node" />
    <remap from="/usb_cam/image_raw" to="/camera_node/image_raw" />
    <remap from="/xqserial_server" to="/motor_driver" />
  </node>
</launch>
