<launch>
  <include file="$(find xiaoqiang_udrf)/launch/xiaoqiang_udrf.launch" />
  <include file="$(find xqserial_server)/launch/xqserial.launch" />
  <!-- <include file="$(find galileo_serial_server)/launch/galileo_serial_server.launch" /> -->
  <include file="$(find usb_cam)/launch/ov2610.launch" />
  <!-- <include file="$(find rplidar_ros)/launch/rplidar.launch" /> -->
  <node pkg="rplidar_ros" type="node_controller.py" name="rplidar_node_manager" output="screen" respawn="true" respawn_delay="10" />
  <node pkg="system_monitor" type="monitor.py" name="system_monitor" respawn="true" respawn_delay="10">
    <remap from="/usb_cam" to="/camera_node" />
    <remap from="/usb_cam/camera_info" to="/camera_node/camera_info" />
    <remap from="/usb_cam/image_raw" to="/camera_node/image_raw" />
    <remap from="/xqserial_server" to="/motor_driver" />
  </node>
  <node pkg="system_monitor" type="remote_server.py" name="remote_server" respawn="false" respawn_delay="10" output="screen">
    <remap from="/usb_cam" to="/camera_node" />
    <remap from="/usb_cam/camera_info" to="/camera_node/camera_info" />
    <remap from="/usb_cam/image_raw" to="/camera_node/image_raw" />
    <remap from="/xqserial_server" to="/motor_driver" />
  </node>
  <node pkg="system_monitor" type="broadcast_server.py" name="broadcast_server" respawn="true" respawn_delay="10"/>
  <node pkg="system_monitor" type="status_audio_reporter.py" name="audio_report" respawn="true" respawn_delay="10"/>
  <node pkg="system_monitor" type="time_tasks.py" name="time_task1" respawn="true" respawn_delay="10"/>
  <node pkg="web_video_server" type="web_video_server" name="web_video_server" respawn="true" respawn_delay="10"></node>
  <!-- <include file="$(find bw_auto_dock)/launch/xiaoqiang_orb.launch" /> -->
  <include file="$(find xiaoqiang_tts)/launch/tts_xunfei.launch" />
  <include file="$(find xiaoqiang_log)/launch/xiaoqiang_log.launch" />
  <param name="xiaoqiang_logger_node/server_url" value="http://robot-log.bwbot.org" />
  <node pkg="system_monitor" type="system_logger_node.py" name="galileo_logger" respawn="true" respawn_delay="10"/>
  <include file="$(find xiaoqiang_greeting)/launch/xiaoqiang_greeting.launch" />
  <!-- <include file="$(find xiaoqiang_audio_controller)/launch/audio_controller.launch"/> -->
  <!-- <node pkg="nav_test" type="kinect_keepalive.py" name="kinect_keeplive"></node> -->
  <!-- <include file="$(find turtlebot_teleop)/launch/ps3xiaoqiang_teleop.launch" /> -->
  <!-- <include file="$(find rplidar_ros)/launch/rplidar_nav.launch" /> -->
  <!-- <node pkg="cam_auto_brightness" type="auto_brightness.py" name="cam_auto_brightness_node"/> -->
</launch>
